@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  color: #131113;
  padding: 0 20px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

#game {
  margin-top: 70px;
}
.keyboard {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  width: auto;
  padding: 0 15px;
  margin: 2px;
  height: 60px;
  border: none;
  background: rgb(92, 91, 91);
  color: white;
}

.buttons {
  position: absolute;
  top: 90px;
}

.btn {
  height: 20px;
  font-size: medium;
  background: none;
  border: none;
}

.active {
  background: rgb(202, 194, 194);
}

.gray {
  background: rgb(165, 165, 165);
}

.yellow {
  background: rgb(233, 190, 0);
}

.green {
  background: rgb(87, 172, 87);
}

@media only screen and (max-width: 600px) {
  .key {
    font-size: 15px;
    border-radius: 3px;
    width: auto;
    padding: 10px 8px;
    margin: 2px;
    height: 50px;
  }
}
